body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5d5d5d;
    overflow: hidden;
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
}

body,
html {
    overflow: hidden;
    width: 100vw;
    /* ビューポート幅に制限 */
}

.language-buttons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 100;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.lang-button {
    padding: 8px 12px;
    margin: 2px 3px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    color: #ffe600;
}

.lang-button.active {
    border: #ffe600 1px solid;

}


@media (max-width: 600px) {
    .lang-button {
        font-size: 12px;
        padding: 6px 8px;
        margin: 1px;
    }
}


.hiragana-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    position: absolute;
}

.hiragana {
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.char {
    font-size: 10vw;
    opacity: 0.8;
    /* margin: 0 5vw; */
    transition: font-size 0.5s, opacity 0.4s;
}

.char.active {
    font-size: 12vw;
    opacity: 1;
}

@media screen and (orientation: landscape) {
    .char {
        font-size: 13vh;
    }

    .char.active {
        font-size: 15vh;
    }
}

.indicator {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.mouth {
    position: absolute;
    color: antiquewhite;
    opacity: 0.8;
    font-size: 16vh;
    transition: color 1s;
    margin-top: 10vh;
    /* margin-left: -30vh; */
    /* height: 18vw; */
    cursor: pointer;
}

.mouth.move {
    animation: heartbeat 1s ease-in-out infinite;
}

.mouth.active {
    animation: change-bar 4s infinite linear;
}

.mouth.mouseon {
    color: rgb(188, 169, 144);
    transition: color 0.5s;
}

.nextButton {
    position: absolute;
    color: antiquewhite;
    opacity: 0.8;
    font-size: 16vh;
    transition: color 1s;
    margin-top: 7vh;
    margin-left: 50vh;
    /* height: 18vw; */
    cursor: pointer;
}

.nextButton.mouseon {
    animation: heartbeat 3s ease-in-out infinite;
    color: rgb(188, 169, 144);
    transition: color 0.5s;
}

.nextButton.clicked {
    color: rgb(186, 123, 40);
    transition: color 0.1s;
}

.pic {
    position: absolute;
    /* align-items: center; */
    /* justify-content: center; */
    height: 30vh;
    width: 30vh;
    overflow: hidden;
    margin-top: -40vh;

}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1, 0.9);
    }

    30% {
        transform: scale(0.9, 1.1);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.2, 0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes change-bar {
    0% {
        transform: scale(1) rotateZ(0deg);
        /* scaleとrotateを1つのtransformにまとめる */
    }

    40% {
        transform: scale(1.1, 0.9) rotateZ(288deg);
        /* scaleとrotateを1つのtransformにまとめる */
    }

    100% {
        transform: scale(1, 1) rotateZ(720deg);
        /* scaleとrotateを1つのtransformにまとめる */
    }

}


.github-link-container {
    position: fixed;
    bottom: 10px;
    /* 下からのマージン */
    right: 10px;
    /* 右からのマージン */
    text-align: right;
    z-index: 100;
    /* 他の要素より前面に表示 */
}

.github-link-container a {
    color: antiquewhite;
    /* リンクの色をantiquewhiteに設定 */
    text-decoration: none;
    /* リンクの下線を削除 */
    font-size: 12px;
    /* リンクの文字サイズを調整 */
    opacity: 0.7;
}

.github-link-container a:hover {
    opacity: 1;
}